html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

  body {
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      animation: fadeOut 2s forwards;
  }

  .preloader .spinner {
      border: 5px solid #f3f3f3;
      border-top: 5px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
  }

  @keyframes spin {
      0% {
          transform: rotate(0deg);
      }

      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes fadeOut {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
          visibility: hidden;
      }
  }

  .content {
      display: none;
      opacity: 0;
      animation: fadeIn 1s forwards;
  }

  .preloader-hidden+.content {
      display: block;
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

body {
    font-family: Cera Pro;
}

.header {
    font-size: 0px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 23px;
    border-bottom: #46A35880 solid 1px;
    display: flex;
        align-items: center;
        margin-top: 25px;
}

.header_nav {
    display: inline-block;
    width: calc(100% - 270px);
    text-align: center
}

.header_link:hover {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    border-bottom: #46A358 solid 3px;
    padding-bottom: 21px;
}


.header_list {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    padding: 0px 25px;
        position: relative;
}

.header_link {
    text-decoration: none;
    color: #3D3D3D;
}

.link_Home {
    min-width: 45px;
}

.link_Shop {
    min-width: 35px;
}

.link_PlantCare {
    min-width: 78px;
}

.link_Blogs {
    min-width: 41px;
}

.header_logo {
    margin: 10px 0px 0px 10px;
    min-width: 150px;
    height: 35px;
}



.header_button {
    min-width: 100px;
    height: 35px;
    padding: 0px;
    border: 0px;
    background: #46A358;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.11px;
    color: #FFFFFF;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.button_image {
    margin-top: 5px;
    position: absolute;
    top: 2px;
    left: 18px;
}

.login_button {
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    right: 20px;
}

.first_content {
    font-size: 0px;
    width: 100%;
    max-width: 1229px;
    max-height: 450px;
    margin: 0 auto;
    background: #F5F5F580;
    margin-top: 12px;
    margin-bottom: 46px;
}

.main_text_first,
.img_container_first {
    vertical-align: top;
}

.main_text_first {
    width: 653px;
    height: 100%;
    display: inline-block;
    margin: 70px 0px 0px 43px;
}

.first_paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #3D3D3D;
    width: 205px;
    min-height: 16px;
    padding-bottom: 7px;
}

.first_main_text {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #3D3D3D;
    width: 530px;
    min-height: 140px;
    padding-bottom: 5px;
}

.second_main_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    width: 557px;
    height: 45px;
    padding-bottom: 70px;
}

.img_container_first {
    display: inline-block;
    width: 40%;
}

.main_img {
    width: 507px;
    height: 450px;
}

.main_button {
    position: relative;
    min-width: 140px;
    height: 40px;
    padding: 0px;
    border: 0px;
    background: #46A358;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
}
.main_button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 42px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 2s ease;
}
.main_button:hover:before {
    width: 100%;
}

.clear-float::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1229px;
    margin: 0 auto;
}

.sidebar {
    width: 310px;
    height: 774px;
    background: #FBFBFB;
    float: left;
}

.categories {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    padding: 14px 0px 7px 18px
}

.sidebar_nav {
    min-width: 95px;
    height: 360px;
    padding-left: 30px;
}

.sidebar_list {
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    text-decoration: none;
    color: #3D3D3D;
}



.sidebar_list:hover {
    font-weight: bold;
    color: #46A358;
}

.sidebar_img {
    float: left;
    margin-top: 377px;
}

.main_container {
    width: calc(100% - 360px);
    float: right;
}

.tabs {
    float: left;
}

.sort {
    float: right;
    margin-top: -13px;
}

.sort_text {
    float: left;
    margin-top: 12px;
}

.sort_choice {

    float: right;
    margin-top: 13px;
}

.main_tabs {
    font-size: 15px;
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    color: #3D3D3D;
    margin: 0px 20px;
}

.main_tabs:hover {
    font-weight: bold;
    color: #46A358;
    padding-bottom: 7px;
    border-bottom: 2px solid #46A358;
    margin: 0px 19px;
}

.main_header {
    height: 23px;
}


.flower_name {

    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 6px;
    color: #3D3D3D;

}

.item_product_price {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    color: #46A358;
}

.product_item_head {
    width: 258px;
    height: 300px;
    background: #FBFBFB;
    border-top: 1px solid transparent;
    position: relative;
}

.img_container {
    position: absolute;
    opacity: 0;
}

.product_item_body {
    margin-bottom: 70px;
}

.product_item_head:hover {
    border-top: 1px solid #46A358;
}

.product_item_head:hover .img_container {
    opacity: 1;
}

.first_hover_img {
    min-width: 35px;
    min-height: 35px;
    position: absolute;
    left: 67px;
    background: #FFFFFF;
    align-content: center;
}

.hover_img_position {
    padding-left: 6px;
}

.second_hover_img {
    min-width: 35px;
    min-height: 35px;
    position: absolute;
    left: 112px;
    background: #FFFFFF;
    align-content: center;

}

.third_hover_img {
    min-width: 35px;
    min-height: 35px;
    position: absolute;
    left: 157px;
    background: #FFFFFF;
    align-content: center;
}

.product_item {
    float: left;
    width: 258px;
    height: 350px;
    margin-right: 47px;
    margin-bottom: 12px;
    margin-top: 63px
}

.third_product_item {
    margin-right: 0px;
}

.article_link {
    text-decoration: none;
}


.nav_button {
    float: right;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    min-width: 35px;
    min-height: 35px;
    font-size: 18px;
    font-weight: normal;
    line-height: 16px;
    margin: 90px 5px 0px 5px;
    cursor: pointer;
}

.nav_button:hover {
    background: #46A358;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    margin-left: 0px;
    margin: 90px 5px 0px 5px;
}

.last_page:hover {
    margin-right: 5px;

}

.active_page {
        background: #46A358;
            color: white;
                font-weight: bold;
                font-size: 18px;
}

.article_section {
    padding-top: 27px;
}

.first_line_product_item {
    margin-top: 30px;
}

.sale_text {
    position: absolute;
    background: #46A358;
    color: #FFFFFF;
    min-width: 80px;
    min-height: 29px;
    text-align: center;
    bottom: 265px;
}

.sale_text h2 {
    padding-top: 7px;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}

.price_without_sale {
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
}

.second_content {
    width: 100%;
    max-width: 1229px;
    margin: 0 auto;
    margin-bottom: 138px;
}

.overview {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #3D3D3D;
    width: 150px;
    height: 48px;
    text-align: right;
    padding-bottom: 9px;
}

.overview,
.overview_text {
    padding-right: 30px;
}

.overview_text {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #727272;
    width: 292px;
    height: 45px;
    text-align: right;
    padding-bottom: 25px;

}

.header_container {
    width: 586px;
    height: 250px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #FBFBFB;
    margin-top: 52px;

}

.header_img {
    margin-bottom: 52px;
    width: 257px;
}

.find_more {
    position: relative;
    width: 140px;
    height: 40px;
    color: #FFFFFF;
    background: #46A358;
    border: 0px;
    border-radius: 6px;
    padding: 0px;
    margin-right: 30px;
    text-align: center;
}

.find_more:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 42px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 2s ease;
}

.find_more:hover:before {
    width: 100%;
}

.find_more:hover {
    cursor: pointer;
}

.first_header_container {
    margin-right: 32px;
}

.big_main_text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #3D3D3D;
    padding-bottom: 15px;
}

.container_article {
    width: 100%;
    max-width: 1229px;
    margin: 0 auto;
}

.main_text {
    width: 557px;
    height: 19px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 35px;
}

.article_text {
    width: 222px;
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #46A358;
    padding-left: 13px;
    padding-bottom: 4px;
    text-align: initial;
}

.article_title {
    width: 189px;
        height: 42px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #3D3D3D;
    padding-left: 13px;
    padding-bottom: 4px;
}

.second_article_text {
    width: 242px;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #727272;
    padding-left: 13px;
    padding-bottom: 9px;
}

.read_more_link {
    width: 89px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    color: #3D3D3D;
    text-decoration: none;
    padding-left: 13px;
    padding-bottom: 12px;
}

.read_more_link:hover {
    color: #46A358;
}

.section_article {
    display: flex;
    justify-content: space-evenly;
}

.article_container {
    background: #FBFBFB;
        padding-bottom: 13px;
}

.drop_down_menu_text {
    min-height: 35px;
    padding-left: 14px;
    color: #3D3D3D;
    font-weight: 400;
    font-family: "Encode Sans", serif;
    font-size: 16px;
    padding-top: 10px;
    text-decoration: none;
}

.active_drop_down_text:hover {
    color: #FFFFFF;
    background: #1A712A;
    font-family: "Encode Sans", serif;
    font-weight: 700;
    font-size: 16px;
}

.drop_down_menu_text_first {
    padding-top: 7px;
}




nav ul .drop_down_menu {
    display: none;
}

nav ul li:hover > .drop_down_menu {
    display: block;
}

nav ul li ul {
    background: #EDF6EE;
}

.drop_down_img {
    position: absolute;
    left: 165px;
    bottom: 15px;
}
.drop_down_menu {
    padding-top: 15px;
    position: absolute;
    text-align: left;
    min-width: 188px;
    min-height: 143px;
    top: 41px;
    left: -30px;
}

nav ul ul .second_drop_down_menu {
    display: none;
}

nav ul ul li:hover>.second_drop_down_menu {
    display: block;
}

nav ul li ul ul {
    background: #EDF6EE;
    
}

.second_drop_down_menu {
    position: absolute;
    text-align: left;
    min-width: 178px;
    min-height: 215px;
    top: 15px;
        right: -179px;
        padding-left: 2px;
}
.link_size {
    display: block;
}

footer {
        position: relative;
        width: 100%;
        max-width: 1229px;
        margin: 0 auto;
        overflow: visible;
}

.footer_container {
    display: flex;
    justify-content: space-around;

    margin-top: 100px;
    height: 250px;
        align-items: center;
}


.border_element{

        position: relative;
        padding-right: 20px;
                width: 204px;
                height: 202px;
    }

    article:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        bottom: 10px;
        width: 1px;
        background-color: #46A3581A;
    }
footer article h2 {
        font-size: 17px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 9px;
        color: #3D3D3D;
}
footer article p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #3D3D3D;
}
.footer_email_input {
    width: 354px;
    height: 202px;
    padding-right: 0px;
    border-right: 0px;
    position: relative;
}
.footer_email_input h2 {
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
}

footer article img {
    margin-bottom: 15px;
}

.input_button {
    min-width: 85px;
    min-height: 40px;
    padding: 0px;
    border: 0px;
    background: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 0px 6px 6px 0px ;
    margin-left: -5px;
    position: absolute;
    left: 269px;
    cursor: pointer;
}
.email_input {
    width: 264px;
    height: 40px;
    padding: 0px;
    border: 0px;
    border-radius: 6px 0px 0px 6px ;
    position: absolute;
    padding-left: 10px;
}
.paragraph_after_email {
    position: absolute;
    top: 112px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.footer_location {
    width: 205px;
    height: 40px;
    padding: 0px;
    border: 0px;
    padding-top: 27px;
}
.footer_email {
    width: 195px;
    height: 22px;
    padding: 0px;
    border: 0px;
    padding-top: 30px;
}
.footer_phone {
    width: 140px;
    height: 22px;
    padding: 0px;
    border: 0px;
    padding-top: 30px;
}
.footer_email a {
    text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #3D3D3D;
}

.footer_phone a {
    text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #3D3D3D;
}
.location {
    position: absolute;
    left: 300px;
        top: 34px;
        color: #3D3D3D;
}
.mail {
    position: absolute;
    top: 34px;
        left: 680px;
}
.phone {
    position: absolute;
    top: 34px;
    left: 1064px;
}
.footer_logo {
    margin-left: 23px;
    padding-top: 27px;
}
.footer_info_container {
    height: 236px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #46A35833;
}
.my_account {
    width: 100px;
    height: 174px;
}
.container_social_media {
    margin-top: 33px;
    margin-right: 155px;
    width: 224px;
    height: 154px;
    border: 0px;
    padding: 0px;
}
.social_media {
    margin-bottom: 20px;
}
.social_media_icon {
    margin-bottom: 33px;
}
.we_accept {
    margin-bottom: 13px;
}

.footer_list {
    text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: #3D3D3D;
}
.footer_info_container li h2 {
        margin-top: 33px;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        color: #3D3D3D;
}
.my_account {
    margin-left: 25px;
}
.copyright {
    margin-top: 6px;
    text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        color: #3D3D3D;
}

.hover_img_position,
.hover_img {
    display: none;

}

.product_item_head:hover .hover_img_position {
    display: block;
}

.hover_img_position:hover {
 opacity: 0;    
}

.hover_img_position:hover+.hover_img {
    display: block;
margin-left: 7px;
    margin-top: -19px;
}

.footer_background {
    width: 100%;
    height: 250px;
        background: #FBFBFB;
}

.footer_rgb_background {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 88px;
    position: absolute;
    display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);;
        z-index: 0;
}
        
                .footer_content {
                    position: relative;
                    z-index: 1;
                    height: 88px;
                        display: flex;
                            justify-content: space-between;
                            align-items: stretch;
                }

.footer_second_background {
    position: absolute;
    width: 100vw;
    left: 50%;
        transform: translateX(-50%);
            background: #FBFBFB;
            height: 236px;
            z-index: 0;
}
.footer_info_container {

    position: relative;
    z-index: 1;

}
